@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaythin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayregular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaymedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaysemibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaybold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayextrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayblack.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'opensan';
  src: url('../fonts/opensansregular.woff2') format('woff2'), url('../fonts/opensansregular.woff') format('woff'), url('../fonts/opensansregular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensan';
  src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttff') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'storytella';
  src: url('../fonts/storytella.otf') format('otf');
  font-weight: 400;
  font-style: italic;
}
.body {
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "opensan", Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #0e0c0c;
  background-color: #f9f9f9;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.header {
  width: 100%;
  min-height: 1631px;
  display: flex;
  flex-flow: column wrap;
  background-color: #efefef;
  text-align: center;
}
.header--fon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("../img/rectangle_1_2737.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header__wrap {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}
.header__navigation {
  margin: 38px 435px 0 50px;
}
.header__logo {
  margin: -15px 0 0 207px;
}
.header__title {
  max-width: 525px;
  margin: 128px 0 187px 212px;
  font-family: "storytella", Arial, sans-serif;
  font-size: 170px;
  line-height: 200px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}
.header__product {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.navigation__item {
  display: flex;
  align-items: center;
  margin: 0 15px 0 15px;
  list-style-type: none;
  position: relative;
}
.navigation__item--footer {
  margin: 0 25px 0 25px;
  font-size: 22px;
}
.navigation__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 35px 0;
  line-height: 20px;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.navigation__link:active {
  color: #2ed658;
  border-color: #2ed658;
}
.navigation__link:hover {
  color: #fcdb5a;
  border-color: #fcdb5a;
}
.navigation__link:default {
  color: gray;
  border-color: gray;
}
.navigation__link--footer {
  text-transform: uppercase;
  color: #000000;
}
.navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media (max-width: 480px) {
  .navigation__list--mobily {
    visibility: hidden;
    margin: 0 auto;
    width: 380px;
    flex-flow: column wrap;
  }
  .navigation__item {
    font-size: 16px;
    text-align: center;
    background-color: gray;
    margin: 0 20px 0 20px;
    opacity: 0.75;
  }
  .navigation__item--footer {
    margin: 0 10px 0 10px;
    font-size: 18px;
    background-color: transparent;
  }
}
.logo {
  width: 100px;
  height: 130px;
  background-color: #fcdb5a;
  border: 5px solid #fcdb5a;
  text-decoration: none;
}
.logo:hover {
  background-color: #ffffff;
  border: 5px solid #ffffff;
}
.logo:active {
  background-color: #2ed658;
  border: 5px solid #2ed658;
}
.logo__text {
  font-family: 'lato', Arial, sans-serif;
  color: #4f4a37;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.logo__text::before {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
  margin: 24px 24px 10px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/logo.svg);
}
.menu input[type="checkbox"]:checked ~ .navigation__list--mobily {
  visibility: visible;
  left: 0;
  height: auto;
}
.menu__input {
  visibility: hidden;
}
.menu__label {
  display: none;
}
.menu__btn,
.menu__btn::before,
.menu__btn::after {
  display: block;
  position: absolute;
  top: 80px;
  left: 35px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  transition-duration: 0.25s;
}
.menu__btn::before {
  content: '';
  top: -8px;
  left: 0;
}
.menu__btn::after {
  content: '';
  top: 8px;
  left: 0;
}
@media (max-width: 480px) {
  .menu input[type="checkbox"]:checked ~ .menu__label > span {
    transform: rotate(45deg);
  }
  .menu input[type="checkbox"]:checked ~ .menu__label > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu input[type="checkbox"]:checked ~ .menu__label > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu__label {
    display: block;
    margin: 0 0 0 5px;
  }
}
.product {
  position: relative;
  font-family: "raleway", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.product__wrap {
  width: 63%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: flex-end;
}
.product__desc {
  font-weight: 100;
}
.product__img {
  display: block;
  height: auto;
  max-width: 100%;
}
.product__item {
  position: relative;
  margin: 0;
  width: 500px;
  height: 310px;
  background-color: #5e5e5e;
}
.product__item--size {
  margin: 0 0 0 107px;
  width: 380px;
  height: 679px;
  background-color: #fcdb5a;
}
.product__item--dimension {
  align-self: flex-end;
  width: 616px;
  height: 369px;
}
.product__text {
  position: absolute;
  bottom: 29px;
  left: 29px;
  max-width: 135px;
}
.product__title {
  position: absolute;
  bottom: 110px;
  left: 573px;
  max-width: 215px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fcdb5a;
  text-align: left;
}
.button {
  width: 153px;
  background-color: #ffffff;
  border-radius: 22.5px;
  padding: 12px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}
.button:hover {
  background-color: #fcdb5a;
}
.button:active {
  background-color: #2ed658;
}
.button--perfect {
  width: 159px;
  border-radius: 25.5px;
  background-color: #fcdb5a;
  border: 3px solid #fcdb5a;
}
.button--perfect:hover {
  background-color: #ffffff;
}
.button__text {
  margin: 0;
  text-transform: uppercase;
  word-break: break-all;
  font-family: 'raleway', Arial, sans-serif;
  color: #1b1b1b;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.button__text--perfect {
  color: #4f4a37;
}
.button__text--show {
  animation-name: booking;
  animation-duration: 0.6s;
}
@keyframes booking {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}
@media (max-width: 480px) {
  .button {
    width: 130px;
    padding: 7px;
  }
  .button--perfect {
    width: 130px;
  }
  .button__txt {
    font-size: 10px;
  }
  .button__txt--perfect {
    font-size: 10px;
  }
}
