@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaythin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayregular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaymedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaysemibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewaybold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayextrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/ralewayblack.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'opensan';
  src: url('../fonts/opensansregular.woff2') format('woff2'), url('../fonts/opensansregular.woff') format('woff'), url('../fonts/opensansregular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensan';
  src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttff') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'storytella';
  src: url('../fonts/storytella.otf') format('otf');
  font-weight: 400;
  font-style: italic;
}
.body {
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "opensan", Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #0e0c0c;
  background-color: #f9f9f9;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.header {
  width: 100%;
  min-height: 1631px;
  display: flex;
  flex-flow: column wrap;
  background-color: #efefef;
  text-align: center;
}
.header--fon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("../img/rectangle_1_2737.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header__wrap {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}
.header__navigation {
  margin: 38px 435px 0 50px;
}
.header__logo {
  margin: -15px 0 0 207px;
}
.header__title {
  width: 520px;
  height: 360px;
  object-fit: cover;
  background-image: url("../img/organic.png");
  background-size: 520px 360px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 170px 0 187px 212px;
}
.header__product {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.navigation__item {
  display: flex;
  align-items: center;
  margin: 0 15px 0 15px;
  list-style-type: none;
  position: relative;
}
.navigation__item--footer {
  margin: 0 25px 0 25px;
  font-size: 22px;
}
.navigation__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 35px 0;
  line-height: 20px;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.navigation__link:active {
  color: #2ed658;
  border-color: #2ed658;
}
.navigation__link:hover {
  color: #fcdb5a;
  border-color: #fcdb5a;
}
.navigation__link:default {
  color: gray;
  border-color: gray;
}
.navigation__link--footer {
  text-transform: uppercase;
  color: #000000;
}
.navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media (max-width: 480px) {
  .navigation__list--mobily {
    visibility: hidden;
    margin: 0 auto;
    width: 380px;
    flex-flow: column wrap;
  }
  .navigation__item {
    font-size: 16px;
    text-align: center;
    background-color: gray;
    margin: 0 20px 0 20px;
    opacity: 0.75;
  }
  .navigation__item--footer {
    margin: 0 10px 0 10px;
    font-size: 18px;
    background-color: transparent;
  }
}
.logo {
  width: 100px;
  height: 130px;
  background-color: #fcdb5a;
  border: 5px solid #fcdb5a;
  text-decoration: none;
}
.logo:hover {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  transform: scale(1.2);
}
.logo:active {
  background-color: #2ed658;
  border: 5px solid #2ed658;
}
.logo__text {
  font-family: 'lato', Arial, sans-serif;
  color: #4f4a37;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.logo__text::before {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
  margin: 24px 24px 10px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/logo.svg);
}
.menu input[type="checkbox"]:checked ~ .navigation__list--mobily {
  visibility: visible;
  left: 0;
  height: auto;
}
.menu__input {
  visibility: hidden;
}
.menu__label {
  display: none;
}
.menu__btn,
.menu__btn::before,
.menu__btn::after {
  display: block;
  position: absolute;
  top: 80px;
  left: 35px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  transition-duration: 0.25s;
}
.menu__btn::before {
  content: '';
  top: -8px;
  left: 0;
}
.menu__btn::after {
  content: '';
  top: 8px;
  left: 0;
}
@media (max-width: 480px) {
  .menu input[type="checkbox"]:checked ~ .menu__label > span {
    transform: rotate(45deg);
  }
  .menu input[type="checkbox"]:checked ~ .menu__label > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu input[type="checkbox"]:checked ~ .menu__label > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu__label {
    display: block;
    margin: 0 0 0 5px;
  }
}
.product {
  position: relative;
  font-family: "raleway", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.product__wrap {
  width: 63%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-end;
  justify-content: flex-end;
}
.product__desc {
  font-weight: 100;
}
.product__img {
  display: block;
  height: auto;
  max-width: 100%;
}
.product__item {
  position: relative;
  margin: 0;
  width: 500px;
  height: 310px;
  background-color: #5e5e5e;
}
.product__item:hover {
  z-index: 5;
  transform: scale(1.2);
}
.product__item--size {
  margin: 0 0 0 107px;
  width: 380px;
  height: 679px;
  background-color: #fcdb5a;
}
.product__item--dimension {
  align-self: flex-end;
  width: 616px;
  height: 369px;
}
.product__text {
  position: absolute;
  bottom: 29px;
  left: 29px;
  max-width: 135px;
}
.product__title {
  position: absolute;
  bottom: 110px;
  left: 573px;
  max-width: 215px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fcdb5a;
  text-align: left;
}
.button {
  width: 153px;
  background-color: #ffffff;
  border-radius: 22.5px;
  padding: 12px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-color: #fcdb5a;
}
.button:active {
  background-color: #2ed658;
}
.button--perfect {
  width: 159px;
  border-radius: 25.5px;
  background-color: #fcdb5a;
  border: 3px solid #fcdb5a;
}
.button--perfect:hover {
  background-color: #ffffff;
}
.button__text {
  margin: 0;
  text-transform: uppercase;
  word-break: break-all;
  font-family: 'raleway', Arial, sans-serif;
  color: #1b1b1b;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.button__text--perfect {
  color: #4f4a37;
}
.button__text--show {
  animation-name: booking;
  animation-duration: 0.6s;
}
@keyframes booking {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}
@media (max-width: 480px) {
  .button {
    width: 130px;
    padding: 7px;
  }
  .button--perfect {
    width: 130px;
  }
  .button__txt {
    font-size: 10px;
  }
  .button__txt--perfect {
    font-size: 10px;
  }
}
.main {
  background-color: #ffffff;
}
.servic {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  font-family: "raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}
.servic__ability {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 140px 0;
}
.servic__desc {
  font-weight: 100;
}
.servic__slogan {
  width: 100%;
  min-height: 535px;
  margin: 0 0 180px 0;
  background-image: url(../img/text.png), url(../img/rectangle28.png), url(../img/rectangle284795.png);
  background-size: 512px 425px,
      329px 492px,
      719px 492px;
  background-repeat: no-repeat;
  background-position: 864px 86px,
      644px 42px,
      216px 78px;
}
.servic__text {
  margin: 0 0 95px 0;
  max-width: 550px;
  font-family: "opensan", Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: #b3b3b3;
}
.servic__title {
  margin: 0 0 10px 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: #333333;
  text-transform: uppercase;
}
.ability__wrap {
  display: flex;
  flex-flow: column wrap;
  margin: 0 0 0 30px;
}
.ability__link {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 52px 0 52px;
  text-decoration: none;
}
.ability__link:hover {
  transform: scale(1.5);
}
.ability__link::before {
  content: "";
  display: block;
  width: 53px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/forma1.svg);
}
.ability__link:nth-child(2)::before {
  width: 52px;
  height: 54px;
  background-image: url(../img/forma2.svg);
}
.ability__link:nth-child(3)::before {
  width: 59px;
  height: 53px;
  background-image: url(../img/forma3.svg);
}
.ability__link:nth-child(4)::before {
  width: 57px;
  height: 49px;
  background-image: url(../img/forma4.svg);
}
.ability__link:nth-child(5)::before {
  width: 53px;
  height: 57px;
  background-image: url(../img/forma5.svg);
}
.ability__link:nth-child(6)::before {
  width: 59px;
  height: 56px;
  background-image: url(../img/forma6.svg);
}
.ability__link--progress {
  padding: 0 60px 0 60px;
  flex-flow: row wrap;
}
.ability__link--progress:nth-child(1)::before {
  width: 70px;
  height: 69px;
  background-image: url(../img/icon1.png);
}
.ability__link--progress:nth-child(2)::before {
  width: 68px;
  height: 60px;
  background-image: url(../img/icon2.png);
}
.ability__link--progress:nth-child(3)::before {
  width: 55px;
  height: 76px;
  background-image: url(../img/icon3.png);
}
.ability__link--progress:nth-child(4)::before {
  width: 70px;
  height: 52px;
  background-image: url(../img/icon4.png);
}
.ability__title {
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  color: #333333;
}
.ability__title--progress {
  color: #555555;
}
.ability__text {
  max-width: 115px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #2e211d;
}
.food {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0 0 0 213px;
}
.food__fon {
  width: 100%;
  max-height: 693px;
  object-fit: cover;
  background-image: url("../img/fon1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #252a2d;
}
.food__button {
  margin: 48px 0 108px 0;
}
.food__content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.food__img {
  display: block;
  width: 292px;
  height: 221px;
  background-color: #21e5e5;
}
.food__item {
  max-width: 185px;
  margin: 39px 0 20px 0;
  font-family: "raleway", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #333333;
}
.food__list {
  width: 292px;
  height: 221px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #ffffff;
}
.food__txt {
  max-width: 215px;
  color: #666666;
  margin: 0;
}
.food__text {
  margin: 0;
  max-width: 530px;
  color: #c5c5c5;
}
.food__title {
  max-width: 350px;
  margin: 126px 0 27px 0;
  font-family: "raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.food__desc {
  font-weight: 100;
}
.cakes {
  width: 100%;
  min-height: 684px;
  padding: 472px 0 0 0;
  background-image: url(../img/fon2.png), url(../img/tasty.png), url(../img/fon3.png);
  background-size: 195px 198px,
    432px 382px,
    100% 684px;
  background-repeat: no-repeat;
  background-position: 1035px 506px,
    224px 555px,
    0 473px;
  background-color: #f9f9f9;
}
.progress {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  margin: 140px 0 0 0;
  font-family: "raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}
.progress__ability {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 128px 0;
}
.progress__desc {
  font-weight: 100;
}
.progress__text {
  margin: 0 0 55px 0;
  max-width: 550px;
  font-family: "opensan", Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  color: #b3b3b3;
}
.progress__title {
  margin: 0 0 25px 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: #333333;
  text-transform: uppercase;
}
