@import "mix.less";

.header {
  width: 100%;
  min-height: 1631px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;

  &__inner {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
  }

  &__wrap {
    // background-color: #222b3a;
  }

  &__navigation {
    margin: 38px 435px 0 50px;
  }

  &__logo {
    margin: -10px 0 0 207px;
  }

  &__title {
    width: 520px;
    height: 360px;
    object-fit: cover;
    background-image: url("../img/organic.png");
    background-size: 520px 360px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 170px 0 187px 212px;
  }

  &__product {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &--fon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../img/rectangle_1_2737.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 480px) {
  .header {
    min-height: auto;

    &__wrap {
      background-color: #222b3a;
    }

    &__navigation {
      margin: 5px;
    }

    &__logo {
      margin: 0 0 0 50%;
    }

    &__title {
      width: 200px;
      height: 160px;
      background-size: 100%;
      margin: 10px;
    }

    &__inner {
      flex-flow: column wrap;
    }

    &__product {
      justify-content: center;
    }

    &--fon {
      background-image: none;
    }
  }
}